<div class="quiz-container">
    <h2>Title</h2>


  <div class="quiz-content">
    <div class="question-content"></div>
  
    <div class="btn-content">
      <button class="basic-btn">Next</button>
    </div>
  </div>



  <div class="quiz-stepper">
    <div 
      [ngClass]="currentQuestionIndex+1 === step ? 'circle-step active-step' : 'circle-step'"
      *ngFor="let step of stepper, let i = index"
    >
      <span class="circle-text">{{ step ? step : '...'}}</span>
      <span *ngIf="i === 4 &&  i !== stepper.length" class="delimiter">...</span>
    </div>
  </div>
</div>