.menu-content {
  height: 100%;
  background-color: rgba(242, 242, 242, 0.5);
}

.menu-item { 
  outline: none;
  cursor: pointer;

  .item {
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid#d9d9d9;
  }

  &:hover,
  &.active-link {
    box-shadow: 0 0 5px rgba(204, 204, 204, 0.5);
    background-color: #fff;
  }
}
